* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: aquamarine;
}

#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    padding: 20px;
}

.board-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    padding: 10px;
    gap: 40px;
}

td {
    border: 2px solid red;
    font-size: 2rem;
    padding: 20px;
}

.hidden {
    display: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}